*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
*.gem
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp/spec/dummy/db/test.sqlite3
/spec/dummy/log/test.log
/spec/dummy/db/test.sqlite3
/spec/dummy3.2/log/test.log
/spec/dummy4.0/log/test.log
